{
  "$schema": "https://json.schemastore.org/prettierrc",
  "endOfLine": "lf",
  "printWidth": 100,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-organize-imports"]
}
